.report-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-top: 20px;
    color: white;
    z-index: 0;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #007ACC;
  }
  
  .button:hover svg path {
    fill: #007ACC;
  }
  button:hover::before {
    width: 0;
   }
   button::before {
    width: 0;
   }

   .inte-images, .scanner{
    position: absolute;
    width: 300px;
    height: 170px;
    top: 2%;
    margin-left: 30px;
    border-radius: 5px;
   }
   .hospital-bed{
    background: url(images/bed.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   }
   .scanner{
    right: 0%;
    background: url(images/scanner.jpg);
    background-position: center;
    background-size: contain;
   }
   .report-page{
    color: black;
    width: 650px;
    height: 700px;
    position: absolute;
    background-color: #fbfeff;
    border-radius: 3px;
    left: 5%;
    display: none;
   }
   .close-report{
    color: black;
    margin-top: 20px;
    font-size: 15px;
    position: absolute;
    right: 10px;
    background: #D05E1F;
    padding: 5px;
   }
   .close-report:hover{
    cursor: pointer;
   }

   .close-report:hover{

   }

   /**/
   @keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Apply the animation to the resource report */
.slide-in {
    animation: slideIn 0.5s ease-out;
}
.report-content{
  color: black;
}